@font-face {
  font-family: 'Cupertino';
  src: url('../vendor/cupertino.ttf');
}
.brand-font {
  font-family: 'Cupertino', sans-serif;
}
.header {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
}
.content {
  padding-top: 10vh;
  display: flex;
  flex-flow: column;
}
.body-font {
  font-family: 'Open Sans', sans-serif;
  color: #595959;
  font-size: 13px;
}
body {
  margin: 0px;
}
p {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #595959;
  font-size: 13px;
}
.title {
  height: 80vh;
  display: flex;
}
.title > p {
  font-family: 'Cupertino', sans-serif;
  font-size: 25px;
  margin: auto;
  color: #e16d71;
}
@media (min-width: 640px) {
  .title > p {
    font-size: 40px;
  }
}
.title > p > span {
  font-size: .7em;
  color: #7799cc;
}
.caret {
  display: flex;
  height: 10vh;
}
.caret a {
  margin: auto;
  color: #999999;
}
.navbar {
  display: flex;
  -webkit-flex-flow: row;
  justify-content: center;
  min-width: 300px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 0px;
}
.navbar > li + li:before {
  flex-basis: auto;
  flex-grow: 1;
  color: #cccccc;
  content: '|';
  width: 50px;
  margin: 5px;
}
.navbar > li > a {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: #595959;
  text-align: center;
}
.navbar > li.active > a,
.navbar > li.active > a:hover,
.navbar > li.active > a:focus,
.navbar > li > a:hover,
.navbar > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.heading-font {
  font-family: 'Montserrat', sans-serif;
  color: #595959;
}
.section-heading {
  margin: 25px auto 25px auto;
  text-align: center;
}
.section-heading p {
  font-family: 'Montserrat', sans-serif;
  color: #595959;
  font-size: 30px;
  margin: 0px;
}
.product-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.product-card {
  display: flex;
  flex-flow: column;
  margin: 20px;
}
.product-card .card-inner {
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .product-card .card-inner {
    width: 500px;
    height: 300px;
    flex-direction: row;
  }
}
.product-card .card-inner .card-image {
  width: 200px;
  margin: auto;
}
@media (min-width: 640px) {
  .product-card .card-inner .card-image {
    padding-right: 10px;
  }
}
.product-card .card-inner .card-content {
  border-top: 3px solid #cccccc;
  padding: 20px 10px 0px 10px;
}
@media (min-width: 640px) {
  .product-card .card-inner .card-content {
    margin: auto;
    border-top-style: none;
    border-left: 3px solid #cccccc;
    padding: 10px 10px 0px 20px;
  }
}
.product-card .card-inner .card-content .card-title {
  font-family: 'Montserrat', sans-serif;
  color: #595959;
  font-size: 17px;
  padding-bottom: 10px;
}
.product-card .card-inner .card-content .card-description {
  font-size: 13px;
}
.product-card .card-inner .card-content .card-button {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #7799cc;
  font-family: 'Open Sans', sans-serif;
  color: #595959;
  font-size: 13px;
  color: #7799cc;
  margin: 20px auto 0px auto;
  display: block;
}
@media (min-width: 640px) {
  .product-card .card-inner .card-content .card-button {
    margin: 20px 0px 0px auto;
  }
}
.product-card .card-inner .card-content .card-button:hover {
  background-color: #7799cc;
  color: white;
}
