// Gray and Brand Colors for use across theme

@theme-primary:    #222222;
@plain-white:      #FFFFFF;
@gray-base:        #222222;
@sky-light:        lighten(#3C65A1, 20%);
@gray-light:       lighten(@gray-base, 15%);
@gray-lighty:      lighten(@gray-base, 40%);
@gray-lighter:     lighten(@gray-base, 60%);

@mid-size: 910px;
@breakpoint: 640px;
@paragraph-size: 13px;

@font-face{
    font-family: 'Cupertino';
    src: url('../content/cupertino.ttf');
}

.brand-font {
  font-family: 'Cupertino', sans-serif;
}

.header {
  position: fixed;
  z-index: 1;
  top:0px;
  left:0px;
  width:100vw;
  background-color: white;
  /*
  -webkit-box-shadow: 0 8px 40px 0px rgba(100,100,100,0.1);
  -moz-box-shadow: 0 8px 40px 0px rgba(100,100,100,0.1);
  box-shadow: 0 8px 40px 0px rgba(100,100,100,0.1);
  */
}

.techspecs-nav {
  display: flex;
}

.content{
  //padding-top: 10vh; setted via javascript
  display:flex;
  flex-flow: column;
}

.body-font{
  font-family: 'Open Sans', sans-serif;
  color: @theme-primary;

  font-size: @paragraph-size;

  @media(min-width: @breakpoint){
    font-size: @paragraph-size + 2;
  }

}

body {
  margin: 0px;
}

p{
  margin: 0px;
  .body-font;
}

section {

  margin-bottom: 50px;
  overflow: hidden;

}

.title {

  //height: 80vh; setted via javascript
  display: flex;

  > p {

    .brand-font;
    font-size: 25px;

    @media(min-width: @breakpoint){

      font-size: 40px;

    }

    margin:auto;
    color: #FF0000;
    > span {
      font-size:.7em;
      color:#0000FF;
    }
  }

}

.caret{
  display:flex;
  //height:10vh; setted via javascript
  a {
    margin:auto;
    .caret-svg {
      width: 30px;
      height : 30px;
      fill: @gray-light;
    }
  }
}

.navbar{
  display: flex;
  -webkit-flex-flow: row;
  justify-content: center;

  min-width: 300px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding:0px;
}

.navbar > li + li:before{
  flex-basis: auto;
  flex-grow: 1;
  color:@gray-lighter;
  content: '|';
  width:50px;
  margin: 5px;
}

.navbar > li > a {
  .body-font;
  text-decoration:none;
  color: @gray-light;
  text-align: center;
}

.navbar > li.active > a,
.navbar > li.active > a:hover,
.navbar > li.active > a:focus,
.navbar > li > a:hover,
.navbar > li > a:focus {
  color: @gray-base;
  background-color: transparent;
}

.heading-font {

  font-family: 'Montserrat', sans-serif;

  color:@gray-light;

  font-size: @paragraph-size + 2;


  @media(min-width: @breakpoint){

    font-size: @paragraph-size + 4;

  }

}

.section-heading {
  margin: 25px auto 50px auto;
  text-align: center;

  p {

    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 30px;
    border-bottom: 3px solid #DDDDDD;
    margin: auto;
    display: inline;
    padding: 0px 20px 10px 20px;

  }
}

.product-body {
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}


@button-color : #5A96CE;

.product-card {


  display: flex;
  flex-flow: column;
  width: 300px;
  margin: 20px;

  .horizontal-line {

    border-top: 2px solid #CCCCCC;
    margin:auto;
    width: 200px;

  }

  .card-image {
      
      height:250px;
      width: 250px;
      margin:auto;

  }

  .card-title {

    margin: auto;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;  

  }

  button:focus{
    outline: none;
  }

  div {

    display:flex;
    justify-content: center;
    margin-top: 5px;


    button ~ div {

      border-left: 2px solid #CCCCCC;

    }

    .card-button {

      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      text-decoration: none;
      display: flex;
      width: 120px;
      background: none;
      padding: 0px;
      border: none;
      cursor: pointer;
      margin: 0px 10px;

      svg {

        width: 1.5em;
        fill: @button-color;

      }

      p {

        margin: auto;
        color: @button-color;

      }

    }

  }
  
}

.tech-specs-nav {

  display: flex;

  @media (min-width: @breakpoint) {

    margin: auto 100px;

  }

  margin : auto 25px;

  .heading-font;

  border-bottom: 2px solid @gray-lighty;

  align-items: center;

  justify-content: space-between;

  span {

    @media (min-width: @breakpoint) {

      max-width:none;

    }

    max-width:200px;

    color : @gray-light;

    text-align: right;

  }

  .go-back-button{

    cursor: pointer;

    display: flex;

    align-items: center;

    text-decoration:none;

    color: @gray-light;

    .go-back-caret{

      width: 40px;
      height: 40px;

      margin: 10px 10px 10px 0px;

      transform: rotate(90deg);

      fill: @gray-lighty;

    }

  }

}

.techspecs-body {

  display: flex;

  flex-flow: column;

  margin: 80px 25px;

  @media (min-width: @breakpoint) {

    margin: 80px 100px;

  }

  .techspecs-section{

    display:flex;

    flex-flow: column;

    margin-bottom: 30px;

    @media (min-width: @breakpoint) {

      flex-flow: row;

    }

    .section-title {

      .heading-font;

      margin: 0px 0px 10px 0px;

      padding: 0px 0px 10px 0px;

      border-bottom: 2px solid @gray-lighter;

      @media (min-width: @breakpoint) {

        border-bottom: none;

        min-width: 200px;
        max-width: 200px;

        margin: 0px 10px 0px 0px;

        padding: 0px 10px 0px 0px;

        border-right: 2px solid @gray-lighter;

      }

    }

    .section-body {

      .body-font;

      ul ul {

        list-style-type: disc;

      }

      ul:first-child {

        @media (min-width: @breakpoint) {

          padding-left: 40px

        }

        padding-left: 25px;

        margin-top: 0px;

      }

    }

  }

}

.services-container {

  margin: auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;

  .services-pair{

    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .service {

      display: flex;
      flex-flow: column;
      max-width: 350px;
      padding: 20px;
      box-sizing: border-box;

      .serivce-title {

        margin: 15px auto auto auto;

        font-family: 'Montserrat', sans-serif;
        font-size: 20px;

      }

      .service-description {

        margin: 15px auto auto auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        text-align: center;

      }

    }

  }

}

.icon {

  display: inline-block;
  height: 6em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #222222;

}

.contact-form-container {

  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  max-width: 600px;
  margin:auto;
}

.contact-information{

  margin: auto;
  display: flex;
  flex-flow: column;
  max-width: 600px;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
  align-items: flex-start;

  .contact-card{
    height: 40px;
    display: flex;
    flex-flow: row;
    svg {
      margin:auto;
      height: 25px;
      width: 25px;
    }
    p {
      padding-left: 20px;
      margin: auto;
      display: inline-block;
      span {
        font-size: 13px;
        color: #888888;
      }
    }
  }

}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
  box-sizing: border-box;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
  box-sizing: border-box;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background:#55acee;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;

  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:hover {
  background:darken(#55acee, 10%);
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.footer{

  display: flex;
  background-color: #333333;
  height: 50px;

  p {
    font-family: 'Cupertino', sans-serif;
    background-color: #FFFFFF;
    color: #FF4444;
    font-size: 17px;
    display: inline-block;
    margin: auto;
    padding: 5px 10px;
    border-radius: 20px;
  }

}

.certification-badges{

  margin: auto;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: center;

  .badge-pair {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    .cert-badge {

      display: flex;
          flex-flow: column;
          width: 200px;
          height: 200px;
          padding: 20px;
          box-sizing: border-box;

    }

  }

}